* {
    margin: 0;
    padding: 0;
}

.carousel .carousel-item img { /* Bild i image-slidern */

    max-height: 90vh;
    min-width: auto;

}

nav ul {
    padding: 15px;
}

body{
    background-color: lightgray;
}


@media only screen and (max-width: 500px) {

    
}
