* {
    margin: 0;
    padding: 0;
}

.carousel .carousel-item img {

    max-height: 90vh;
    min-width: auto;

}

nav ul {
    padding: 15px;
}


@media only screen and (max-width: 500px) {

    
}
